
<%= label :book, :title %>

<%= text_field :book, :title %>

<%= number_field :book, :price %>

<%= text_area :book, :memo %>

<%= check_box :books, :cd, {}, 1, 0 %>１年

<%= radio_button :user, :color, "red" %>赤

<%= select :user, :address, ["出雲市","松江市","雲南市"] %>

<select id="book_publish" name="book[publish]">  
      <option value="1">技術評論社</option>  
      <option value="2">翔泳社</option>  
</select>  

<%= collection_select(:book, :publish, Book.all, :id, :publish) %>

<%= link_to "出雲商業","http://www.shimanet.ed.jp/izusho/" %> 

<%= image_tag 'ame.jpg' %>

